<div id="app">
  <section class="charts">
    <div class="container-fluid">
      <header>
        <h1 class="h3">All Leads</h1>
      </header>
      <div class="row" id="top-row">
        <div>
          Search: <input v-model="searchTerm">
          
        </div>

        <div>
          <a href="/settings/edit">
            <button>Settings</button>
          </a>
        </div>

      </div>

      <div class="row">
        <div class="table-responsive leads-table">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th v-on:click="setSortAttribute('created_at')">Created</th>
                <th v-on:click="setSortAttribute('first_name')">First Name</th>
                <th v-on:click="setSortAttribute('last_name')">Last Name</th>
                <th v-on:click="setSortAttribute('email')">Email</th>
                <th v-on:click="setSortAttribute('phone')">Phone</th>
                <!-- <th>Hot?</th> -->
                <th v-on:click="setSortAttribute('appointment_date')">Appointment Date</th>
                <th v-on:click="setSortAttribute('rep_notes')">Call Converter notes </th>

                <!-- <th>Processed Within</th> -->

              </tr>
            </thead>

            <tbody>

              <template v-for="lead in sortedLeads" v-if="isValidLead(lead)"> 

                <tr v-on:click="toggleFunction(lead)" v-bind:class="{ 'no-outreaches': lead.outreaches.length == 0 }">

                  <td>{{ moment(lead.created_at).format('dddd MMM Do YYYY, h:mm a') }}</td>
                  <td>{{ lead.first_name }}</td>
                  <td>{{ lead.last_name }}</td>
                  <td><a v-bind:href="'/leads/' + lead.id + '/edit'">{{ lead.email }}</a></td>
                  <td>{{ lead.phone }}</td>
                  <td>{{ moment(lead.appointment_date).format('dddd MMM Do YYYY, h:mm a') }}</td>
                  <td>{{ lead.rep_notes }}</td>

                  
                </tr>

                <div v-bind:id="lead.id" class="events-box"> 
                  <div class="events-container"> <div> Started Application </div> <div>{{ moment(lead.created_at).format('dddd MMM Do YYYY, h:mm a') }}</div> </div>
                  <div class="events-container"><div>footer_form</div> <div>{{ moment(lead.updated_at).format('dddd MMM Do YYYY, h:mm a') }}</div></div>

                  <%= form_tag "/leads/edit/6", {class: "form-horizontal text-form"} do %>
                    <div class="form-group row">
                      <div class="col-sm-2">
                        <%= submit_tag "Auto-Text", {class: "btn btn-info"} %>
                      </div>
                    </div>
                  <% end %>

                </div>

                

              </template>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

