<section class="forms">
  <div class="container-fluid">
    <%= form_for @setting do |f| %>
    <div class="form-group">
        <%= f.label :text_message, "Auto-Text" %>
        <%= f.text_field :text_message, class: 'form-control' %>
    </div>
    <div class="row">
      <div class="col-md-6" id="update-btn-col">
        <%= f.submit :next, class: 'btn btn-primary btn-lg update-btn' %>
      </div>
    </div>
  </div>
</section>
